*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Project specified
.env
.env.dev

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.idea
/.vs/eventapp/FileContentIndex/e87898a9-75eb-49d9-9218-c24c9d10311b.vsidx
/.vs/eventapp/FileContentIndex/ca03f842-1b53-4a27-98ea-4e3c3aaf6c21.vsidx
/.vs/eventapp/FileContentIndex/b72594c3-15fc-44d3-9b6f-b44b1d8f32fd.vsidx
/.vs/eventapp/FileContentIndex/a5bdc985-a7c7-4b1b-b089-8f6f52d788ba.vsidx
/.vs/eventapp/FileContentIndex/60bb04af-98e2-4bbf-bbd0-e8d0a676e791.vsidx
/.vs/eventapp/FileContentIndex/34aeeed2-8679-4fd6-8bd8-8a34cbe64611.vsidx
/.vs/eventapp/DesignTimeBuild/.dtbcache.v2
/.vs/eventapp/FileContentIndex/a752ff65-d91b-450a-84ee-c073d1cd5c4e.vsidx
/.vs/eventapp/FileContentIndex/7e33270e-db23-440a-b109-883f99bd6efb.vsidx
/.vs/eventapp/FileContentIndex/734150f3-80b1-48bd-a597-1982e0ddf74f.vsidx
/.vs/eventapp/FileContentIndex/b4e3570a-6b23-44c0-aa31-bab4d7108c3c.vsidx
/.vs/eventapp/FileContentIndex/ca0e5b2e-4103-4075-a9a4-3fbdb5a9a316.vsidx
/.vs/eventapp/FileContentIndex/7e70f0fb-0818-4ca3-ad56-412191a750c2.vsidx
/.vs/eventapp/FileContentIndex/71cff4d6-5bb1-483b-8f67-29d79a29b073.vsidx
/.vs/eventapp/FileContentIndex/719aec64-e5bc-4a51-a1d5-7e8e010222c0.vsidx
/.vs/eventapp/FileContentIndex/51868ab2-000a-42ca-884c-934dfe2fb9bb.vsidx
/.vs/eventapp/v17/.futdcache.v2
/.vs/ProjectEvaluation/eventapp.projects.v6.1
/.vs/ProjectEvaluation/eventapp.metadata.v6.1
/.vs/eventapp/FileContentIndex/6277a7f7-a101-4262-b2a5-a821ea9087da.vsidx
/.vs/eventapp/FileContentIndex/60df8cca-d0b0-4bed-9625-0f56c4893b1a.vsidx
/.vs/eventapp/FileContentIndex/c0f98dba-1fb7-4cd9-8aca-f865f1df85d9.vsidx
*.vsidx
