*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Project specified
.env
.env.dev

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.idea
/.vs/eventapp/FileContentIndex/e87898a9-75eb-49d9-9218-c24c9d10311b.vsidx
/.vs/eventapp/FileContentIndex/ca03f842-1b53-4a27-98ea-4e3c3aaf6c21.vsidx
/.vs/eventapp/FileContentIndex/b72594c3-15fc-44d3-9b6f-b44b1d8f32fd.vsidx
/.vs/eventapp/FileContentIndex/a5bdc985-a7c7-4b1b-b089-8f6f52d788ba.vsidx
/.vs/eventapp/FileContentIndex/60bb04af-98e2-4bbf-bbd0-e8d0a676e791.vsidx
/.vs/eventapp/FileContentIndex/34aeeed2-8679-4fd6-8bd8-8a34cbe64611.vsidx
/.vs/eventapp/DesignTimeBuild/.dtbcache.v2
/.vs/eventapp/FileContentIndex/a752ff65-d91b-450a-84ee-c073d1cd5c4e.vsidx
/.vs/eventapp/FileContentIndex/7e33270e-db23-440a-b109-883f99bd6efb.vsidx
/.vs/eventapp/FileContentIndex/734150f3-80b1-48bd-a597-1982e0ddf74f.vsidx
/.vs/eventapp/FileContentIndex/b4e3570a-6b23-44c0-aa31-bab4d7108c3c.vsidx
